body {
    background-color: aqua;
    color: black;
}

h1 {
    text-align: center;
    text-shadow: 0 9px 8px rgba(0, 0, 0, 0.5);
}

img {
    height: 250px;
    width: 280px;
    margin-left: 400px;
}

p {
    font-size: large;
}

a {
    margin-left: 500px;
    color: red;
}